@charset "UTF-8";
/*===============================
=            font face          =
===============================*/
@font-face {
  font-family: 'ir_sans';
  src: url("../font/IRANSansRegular.ttf") format("woff");
}

@font-face {
  font-family: 'ir_sans_b';
  src: url("../font/IRANSansBold.ttf") format("woff");
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  direction: rtl;
  font-family: 'ir_sans_b' !important;
}

body .big_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .big_title h6 {
  margin-bottom: 20px;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid #cccccc;
}

body .navbar .link-arrowed {
  padding: 0 20px;
}

body .navbar .navbar-nav {
  padding: 10px;
}

body .navbar .navbar-nav .nav-item {
  min-width: 200px;
  border-left: 1px solid #bbb;
  text-align: center;
}

body .navbar .navbar-nav .nav-item .dropdown-menu {
  width: 100%;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content {
  height: auto;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .inner_title {
  text-align: right !important;
  margin-bottom: 20px;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load > .nav {
  border-bottom: 1px solid #bbb;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load > .nav .btn_underline.active {
  border-bottom: 2px solid #212529;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load > .nav .btn_underline {
  margin-right: 5px;
  border-radius: 0;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load > .nav .btn_underline:focus {
  border-bottom: 2px solid #212529;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load input.btn-group {
  width: auto;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load .btn-group {
  width: 100%;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load .tab-pane {
  text-align: right;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load .tab-pane .radio_form {
  height: 200px;
  display: none;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load .tab-pane .radio_form h6 {
  margin: 15px 0;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .load .tab-pane .radio_form.on {
  display: block;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .sublink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .sublink .sublink_title {
  margin-bottom: 10px;
  font-size: 14px;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .sublink input[type=text] {
  height: 38px;
  border: 1px solid #cccccc;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .sublink input[type=text]:focus {
  outline: none;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content button {
  max-width: 110px !important;
}

body .navbar .navbar-nav .nav-item .dropdown-menu .scrollbar {
  max-height: 650px;
  overflow-x: hidden;
  overflow-y: auto;
}

body .navbar .navbar-nav .nav-item .btn_white {
  border-radius: 0;
  outline: 1px solid #cccccc !important;
}

body .navbar .navbar-nav .nav-item .btn_white:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .navbar .navbar-nav .nav-item .btn-check:focus + .btn_white,
body .navbar .navbar-nav .nav-item .btn_white:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

body .navbar .navbar-nav .nav-item .btn-check:active + .btn_white,
body .navbar .navbar-nav .nav-item .btn-check:checked + .btn_white,
body .navbar .navbar-nav .nav-item .btn_white.active,
body .navbar .navbar-nav .nav-item .btn_white:active,
body .navbar .navbar-nav .nav-item .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}

body .navbar .navbar-nav .nav-item .dropdown.dropdown-mega {
  position: static;
}

body .navbar .navbar-nav .nav-item .dropdown.dropdown-mega .dropdown-menu {
  right: 0;
  top: 75px !important;
  color: #212529 !important;
}

body .navbar .navbar-nav .nav-item .dropdown.dropdown-mega .dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
          animation: fadeIn 0.3s alternate;
}

body .navbar .navbar-nav .nav-item .nav-link {
  color: #212529;
}

body .navbar .navbar-nav .nav-item .dropdown-toggle::after {
  border: 0;
}

.dropdown {
  position: relative;
}

.dropdown__options--visible .dropdown__skeleton {
  -webkit-box-shadow: 0 11px 12px -5px #dbe0f5;
          box-shadow: 0 11px 12px -5px #dbe0f5;
}

.dropdown__options--visible .dropdown__options {
  -webkit-animation: showit .35s forwards ease-out;
          animation: showit .35s forwards ease-out;
  width: 100%;
  right: 0;
}

.dropdown__options--visible .dropdown__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 26px;
}

.dropdown__skeleton {
  border: 1px solid #dbe0f5;
  width: 100%;
  background-color: #fff;
  padding: 5px 10px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
}

.dropdown__option span {
  margin-right: 10px;
  color: #5e6582;
  font-size: 12px;
}

.dropdown__options {
  position: absolute;
  top: 90%;
  right: 13px;
  border: 2px solid #dbe0f5;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #fff;
  width: 280px;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

@-webkit-keyframes showit {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showit {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.dropdown__options .dropdown__option {
  padding: 6px 10px;
  -webkit-transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
  transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
  cursor: pointer;
  opacity: .7;
  border-radius: 5px;
}

.dropdown__options .dropdown__option:not(:last-child) {
  margin-bottom: 15px;
}

.dropdown__options .dropdown__option:hover {
  background-color: #eee;
  opacity: 1;
}

.dropdown__options .dropdown__option--selected {
  opacity: 1;
}

.dropdown__options::before {
  content: '';
  position: absolute;
  bottom: calc(100% - 3px);
  right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-top: 2px solid #dbe0f5;
  border-left: 2px solid #dbe0f5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

img {
  max-width: 26px;
  display: block;
}

.btn_group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_group .btn {
  width: 120px;
  border-radius: 0;
  margin-left: 5px;
}

.classy-bq {
  border-right: 2px solid #212529;
  margin: 1.5em 10px;
  padding: .7em 25px;
  quotes: "“" "”" "‘" "’";
  color: #212529;
}

.classy-bq:before {
  content: '!';
  color: #212529;
  font-size: 20px;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.2em;
  opacity: 0.80;
}

.blockquote-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.95;
  padding: 10px 0;
}

.blockquote-section blockquote {
  background: #ddd;
}

.blockquote-section blockquote p {
  display: inline;
  font-size: 14px;
  line-height: 1.5;
}

.quantity {
  position: relative;
}

.quantity input {
  width: 80%;
  height: 34px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-right: 30px;
  border: 0;
  outline: 1px solid #cccccc;
}

.quantity input:focus {
  outline: 0;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type=number] {
  -moz-appearance: textfield;
}

.quantity .quantity-nav {
  float: left;
  position: relative;
  top: 0;
  right: 0px;
}

.quantity .quantity-nav .quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #ddd;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 11px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity .quantity-nav .quantity-button .quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity .quantity-nav .quantity-button .quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.serviceBox {
  color: #666;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 0 10px;
}

.serviceBox .service-icon {
  color: #eb3b5a;
  background: #fff;
  font-size: 60px;
  line-height: 110px;
  width: 130px;
  height: 130px;
  margin: 0 auto 50px;
  border-radius: 50%;
  border: 12px solid #eb3b5a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset, 0 15px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.serviceBox .service-icon:before,
.serviceBox .service-icon:after {
  content: '';
  background-color: #eb3b5a;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -33px;
}

.serviceBox .service-icon:after {
  height: 12px;
  width: 12px;
  bottom: -50px;
}

.serviceBox .title {
  color: #eb3b5a;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 7px;
}

.serviceBox .description {
  font-size: 15px;
  line-height: 22px;
}

.serviceBox.orange .service-icon {
  color: #FA8231;
  border-color: #FA8231;
}

.serviceBox.orange .service-icon:before,
.serviceBox.orange .service-icon:after {
  background-color: #FA8231;
}

.serviceBox.orange .title {
  color: #FA8231;
}

.serviceBox.green .service-icon {
  color: #20BF6B;
  border-color: #20BF6B;
}

.serviceBox.green .service-icon:before,
.serviceBox.green .service-icon:after {
  background-color: #20BF6B;
}

.serviceBox.green .title {
  color: #20BF6B;
}

.serviceBox.blue .service-icon {
  color: #2D98DA;
  border-color: #2D98DA;
}

.serviceBox.blue .service-icon:before,
.serviceBox.blue .service-icon:after {
  background-color: #2D98DA;
}

.serviceBox.blue .title {
  color: #2D98DA;
}

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin: 0 0 30px;
  }
}
/*# sourceMappingURL=main.css.map */